{% extends 'gestion/base.html' %}

{% block titulo %}Inicio — Calidade UVIGO{% endblock %}

{% block contido %}
<h2>Estándares e información xeral sobre a xestión de calidade</h2>
<p>Consulta a información dispoñible sobre os indicadores de calidade.</p>

<div class="tarxeta">
    <ul style="list-style: none; padding: 0; margin: 0;">
        <!-- Enlace especial para Centros -->
        <li style="padding: 0.5rem 0; border-bottom: 1px solid #eee;">
            <a href="{% url 'centros' %}" >
                Centros UVIGO
            </a>
        </li>
        <!-- Enlace especial para Títulos -->
        <li style="padding: 0.5rem 0; border-bottom: 1px solid #eee;">
            <a href="{% url 'titulos' %}" >
                Títulos UVIGO
            </a>
        </li>
        <!-- Enlace especial para Todas las materias -->
        <li style="padding: 0.5rem 0; border-bottom: 1px solid #eee;">
            <a href="{% url 'todas_materias' %}" >
                Todas as materias impartidas
            </a>
        </li>
        <!-- Enlace especial para Indicadores -->
        <li style="padding: 0.5rem 0; border-bottom: 1px solid #eee;">
            <a href="{% url 'indicadores' %}" >
                Indicadores de Calidade
            </a>
        </li>
        <!-- Enlace especial para IRPD -->
        <li style="padding: 0.5rem 0; border-bottom: 1px solid #eee;">
            <a href="{% url 'irpd' %}" >
                IRPD - Informe de Revisión do Sistema pola Dirección
            </a>
        </li>        
        <!-- Enlace especial para Seguimentos de Centros -->
        <li style="padding: 0.5rem 0; border-bottom: 1px solid #eee;">
            <a href="{% url 'seguimentos_centros' %}" >
                Seguimentos dos centros
            </a>
        </li>
        <!-- Enlace especial para Seguimentos de Títulos -->
        <li style="padding: 0.5rem 0; border-bottom: 1px solid #eee;">
            <a href="{% url 'seguimentos_titulos' %}" >
                Seguimentos dos títulos
            </a>
        </li>
        <!-- Enlace especial para Avaliación dos PDIs -->
        <li style="padding: 0.5rem 0; border-bottom: 1px solid #eee;">
            <a href="{% url 'avaliacionspdis' %}" >
                Avaliacións dos PDIs
            </a>
        </li>
                <!-- Enlace especial para Responsables -->
        <li style="padding: 0.5rem 0; border-bottom: 1px solid #eee;">
            <a href="{% url 'responsables' %}" >
                Responsables
            </a>
        </li>
        <!-- Resto de tablas dinámicamente -->
        {% for tabla in tablas %}
        <li style="padding: 0.5rem 0; border-bottom: 1px solid #eee;">
            <a href="{% url 'listado' modelo=tabla.slug %}" >
                {{ tabla.nome }}
            </a>
        </li>

        {% endfor %}
    </ul>
</div>

<p style="margin-top: 2rem;">
    <a href="/admin/" style="color: #00407a;">→ Acceder á área de xestión</a>
</p>
{% endblock %}