{% extends "gestion/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'gestion/css/indicadores.css' %}">
<link rel="stylesheet" href="{% static 'gestion/css/filtro.css' %}">
{% endblock %}

{% block contido %}
<p><a href="{% url 'index' %}" style="color: #00407a;">← Volver ao inicio</a></p>

<h2>Responsabes de calidade</h2>

<div class="filtro-busqueda">
    <input type="text" id="filtro-input" placeholder="Busca por denominación">
</div>
<div class="indicadores-container">
    {% for responsable in responsables %}
    <div class="card-indicador" data-filtrable>
        <div class="card-header">
            <button class="btn-expand" data-toggle="card">▶</button>
            <div class="card-content-inicial" style="display: flex;">
                <h3>{{ responsable.denominacion }}</h3>                
            </div>            
        </div>
        
        <div class="card-body">
            <p><strong>Descrición:</strong> {{ responsable.descricion|default:"—" }}</p>
        </div>
    </div>
    {% endfor %}
</div>

<div id="no-resultados" class="no-resultados" style="display: none;">
    Ningunha coincidencia coa busca
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'gestion/js/indicadores.js' %}"></script>
<script src="{% static 'gestion/js/filtro.js' %}"></script>
{% endblock %}