{% extends "gestion/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'gestion/css/indicadores.css' %}">
<link rel="stylesheet" href="{% static 'gestion/css/filtro.css' %}">
{% endblock %}

{% block contido %}
<p><a href="{% url 'seguimentos_titulos' %}" style="color: #00407a;">← Volver aos títulos</a></p>

<h2>Seguimentos de {{ titulo.denominacion }} ({{ orixe_datos }})</h2>
<div class="filtro-ordenamiento">
    
    <div class="radio-group" style="display:inline-flex; align-items: center;">
        <label>Tipo de indicador:&nbsp;&nbsp;&nbsp;&nbsp;
            <span>
                <input type="radio" name="tipo-indicador" value="todos" checked> Todos&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
            <span>
                <input type="radio" name="tipo-indicador" value="calidade"> Calidade&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
            <span>
                <input type="radio" name="tipo-indicador" value="institucional"> Institucional&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
            <span>
                <input type="radio" name="tipo-indicador" value="estratexico"> Estratéxico&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </label>
    </div>
</div>
<div class="indicadores-container">
    {% for seg in seguimentos %}
    <div class="card-indicador" data-filtrable data-tipo="{{ seg.indicador.tipo_indicador }}">
        <div class="card-header">
            <button class="btn-expand" data-toggle="card">▶</button>
            
            <div class="card-content-inicial" style="grid-template-columns: 3fr 150px 150px;">
                <h3>{{ seg.indicador.denominacion }}</h3>
                <p><strong>Meta:</strong>
                    {% if seg.meta == -1 %}
                        Sen datos
                    {% elif seg.tipo_meta == 'porcentaje' %}
                        {{ seg.meta }}%
                    {% else %}
                        {{ seg.meta|default:"—" }}
                    {% endif %}
                </p>
                
                <p><strong>Resultado:</strong>
                    {% if seg.tipo_meta == 'porcentaje' %}
                        {{ seg.resultado }}%
                    {% else %}
                        {{ seg.resultado|default:"—" }}
                    {% endif %}
                </p>
            </div>
           
        </div>
        
        <div class="card-body">
            <p><strong>Código:</strong>
                {{ seg.indicador.codigo }}
            </p>
            <p><strong>Procedemento asociado:</strong>
                {{ seg.indicador.procedemento_asociado }}
            </p>
            <p><strong>Observacións:</strong> {{ seg.observacions|default:"—" }}</p>
            
            <p><strong>Data límite para a introducción dos datos:</strong> {{ seg.data_limite|date:"d/m/Y"|default:"—" }}</p>
            <p><strong>Valoración Final:</strong>
                    {% if seg.valoracion_final %}
                        <span style="color: green;">✓ Cumplido</span>
                    {% elif seg.valoracion_final == False %}
                        <span style="color: red;">✗ Non cumplido</span>
                    {% else %}
                        —
                    {% endif %}
                </p>
        </div>
    </div>
    {% empty %}
    <div style="padding: 40px 20px; text-align: center; background: white; border-radius: 6px; border: 1px dashed var(--color-border);">
        Non hai seguimentos para este período
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'gestion/js/indicadores.js' %}"></script>
<script src="{% static 'gestion/js/seguimentos.js' %}"></script>
{% endblock %}