{% extends "admin/base.html" %}
{% load static %}
{% load i18n static %}

{% block extrastyle %}
{{ block.super }}
    <link rel="stylesheet" href="{% static 'admin/css/base_site.css' %}">
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'index' %}">
        <img src="{% static 'gestion/img/logo.png' %}" alt="Logo" style="height: 40px; vertical-align: middle; margin-right: 10px; filter: brightness(0) invert(1);">
        Xestión de Calidade UVIGO
    </a>
</h1>
{% endblock %}



